<%- include("layout/header") %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Home </h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem hic nemo possimus necessitatibus incidunt voluptas natus repellendus explicabo soluta impedit! Nobis aspernatur eius eaque provident vel maxime! Voluptates, doloribus temporibus.</p>
<p>This is the home page</p>
<p>I stay in my home page</p>


</body>
</html>
<%- include("layout/footer") %>
