<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/user/route/">Home</a>
    <a href="/user/route/getUser">Resister</a>
    <a href="/user/route/login">Login</a>
    <a href="/user/route/logout">LogOut</a>
    <a href="/user/route/profile">profile</a>

</body>
</html>